@import '../../../styles/colors.css';
@import '../../../styles/config.css';

.Checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  &__label {
    width: 8em;
    margin-right: calc(var(--baseline) * 1);

    font-size: 0.750rem;
    font-weight: 600;

    color: var(--color-text-grey);
    text-align: right;
  }

  &__input {
    width: 1.875rem;
    height: 1.875rem;

    &:focus {
      outline: none;
    }
  }
}
