@import '../../../styles/colors.css';
@import '../../../styles/config.css';

.Checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  font-family: var(--fontFamily);
  font-weight: 400;

  &__input {
    width: calc(var(--baseline) * 2.5);
    height: calc(var(--baseline) * 2.5);
    margin: 0 calc(var(--baseline) / 2);

    text-align: center;
  }

  &__label {
    font-size: var(--fontSizeSmall);

    color: var(--colorTextLight);
  }
}
