@import '../../../styles/colors.css';
@import '../../../styles/config.css';

.Select {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  &__label {
    width: 8em;
    margin-right: calc(var(--baseline) * 1);

    font-size: 0.750rem;
    font-weight: 600;

    color: var(--color-text-grey);
    text-align: right;
  }

  &__wrap {
    position: relative;
    min-width: 10em;

    &:after {
      content:'\25BC';
      display: block;
      position: absolute;
      top: 0; right: var(--baseline);
      line-height: calc(var(--baseline) * 2.5);
      font-size: 0.5rem;
      color: var(--colorTextLight);
    }
  }

  &__fake {
    padding: calc(var(--baseline) / 4) calc(var(--baseline) / 2);

    font-family: var(--fontFamily);
    font-size: 0.875rem;
    line-height: 1.75em;
    font-weight: 400;

    color: var(--color-text-black);

    border: none;
    border-bottom: 1px solid var(--color-bg-dirtyBlue);
  }

  &__input {
    appearance: none;
    opacity: 0;

    display: block;
    width: 100%;

    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 1;
  }
}
