@import '../../styles/colors.css';
@import '../../styles/config.css';

.Badge {
  display: inline-block;
  font-size: 0.625rem;
  font-weight: 700;

  text-transform: uppercase;
  text-align: center;
  /*letter-spacing: 1px;*/
}
  .Badge_blue {
    color: var(--color-accent-blue);
  }
  .Badge_red {
    color: var(--color-accent-red);
  }
  .Badge_green {
    color: var(--color-accent-green);
  }
