@import '../../../styles/colors.css';
@import '../../../styles/config.css';

.Alert {
  position: fixed;
  bottom: 0;
  left: 0; right: 0;
  padding: calc(var(--baseline)) 0;

  display: flex;
  justify-content: center;

  opacity: 0.9;

  &__message {
    display: block;
    padding: calc(var(--baseline) / 2) calc(var(--baseline) * 2);
    font-size: 0.875rem;
    color: white;
    border-radius: 0.125rem;
  }
    &__message_log {
      background: var(--color-bg-darkBlue);
    }
    &__message_error {
      background: var(--color-accent-red);
    }
}
