@import '../../styles/colors.css';
@import '../../styles/config.css';

.Entry {
  position: relative;
  padding: calc(var(--baseline) * 2) 0;

  border-top: 1px solid var(--colorBorder);

  &__badge {
    position: absolute;
    right: 100%;
    top: 3.1rem;
    width: calc(var(--baseline) * 6);

    font-size: 0.688rem;
    font-weight: 600;
    line-height: 1.250rem;

    text-transform: uppercase;
    text-align: center;
    color: var(--colorAccent2);
    letter-spacing: 1px;
  }

  &__info {
    font-size: var(--fontSizeSmall);
    font-weight: 300;

    color: var(--colorTextLight);
  }

  &__body {
    font-size: var(--fontSize);

    color: var(--colorTextMed);
    text-align: justify;
  }
}
  .Entry_new {
    & .Entry__body{
      color: var(--colorTextDark);
      font-weight: 700;
    }
  }
