:root {
  /* legacy */
  --colorTextDark:  #2C3643;
  --colorTextMed:   #5B636D;
  --colorTextLight: #91969c;

  --colorBg:        #FFFFFF;
  --colorBorder:    #bdbdbd;

  --colorBg:      #e3eefb;

  --colorAccent1: #68A1E4;
  --colorAccent2: #E4A868;
  --colorError:   #E46868;
  --colorSuccess: #6EB96F;

  --colorBgAlt:        #2C3643;
  --colorHighlightAlt: #414e5f;
  --colorBorderAlt:    #505d6d;
  --colorTextAlt:      #a8c5ea;

  /* new */
  --color-bg-darkBlue:  #405065;
  --color-bg-lightBlue: #F5FBFF;
  --color-bg-dirtyBlue: #c6cfd6;

  --color-accent-blue:  #2E84E8;
  --color-accent-red:   #FF6363;
  --color-accent-green: #6EB96F;

  --color-text-black:   #2C3643;
  --color-text-grey:    #404f63;
}
