@import '../../styles/colors.css';
@import '../../styles/config.css';

.App {
  min-height: 100vh;
  padding-top: calc(var(--baseline) * 5);
  display: flex;
  justify-content: center;
  align-items: stretch;
}
