@import '../../styles/colors.css';
@import '../../styles/config.css';

.App {
  display: flex;
  height: 100%;
  align-items: stretch;

  &__title {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: 600;

    color: var(--colorTextDark);
  }

  &__sidebar {
    width: calc(var(--baseline) * 20);
    padding: calc(var(--baseline) * 3)
             0
             calc(var(--baseline) * 3)
             calc(var(--baseline) * 4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    border-right: 1px solid var(--colorBorder);
  }
}
