@import '../../styles/config.css';
@import '../../styles/colors.css';

.Comment {
  /*...*/

  &__deleteInfo {
    font-size: 0.750rem;
    color: var(--color-accent-red);
  }

  &__info {
    font-size: 0.750rem;
    font-weight: 300;

    color: var(--color-bg-dirtyBlue);
  }

  &__comment {
    padding: calc(var(--baseline) * 1) calc(var(--baseline) * 2);
    border-top: 1px solid var(--color-bg-dirtyBlue);
  }

  &__body {
    font-size: 0.875rem;

    color: var(--color-text-black);
    text-align: justify;

    & :global(p) {
      margin-bottom: var(--baseline);
    }
  }

  &__replies {
    padding-left: calc(var(--baseline) * 6);
  }
}
  .Comment_deleted {
    & .Comment__replies,
    & .Comment__body {
      opacity: 0.3;
    }
  }

.Reply {
  padding: calc(var(--baseline) / 2) 0;

  &__deleteInfo {
    font-size: 0.750rem;
    color: var(--color-accent-red);
  }

  &__info {
    font-size: 0.750rem;
    font-weight: 300;

    color: var(--color-bg-dirtyBlue);
  }

  &__body {
    font-size: 0.875rem;

    color: var(--color-text-black);
    text-align: justify;

    & :global(p) {
      margin-bottom: var(--baseline);
    }
  }
}
  .Reply_deleted {
    & .Reply__body {
      opacity: 0.3;
    }
  }
