@import '../../../styles/colors.css';


.InverseButton {
  display: inline-block;
  
  font-weight: 600;

  text-decoration: none;

  border: 1px solid transparent;
  border-radius: 3px;
  border-radius: 0.188rem;
  background: white;

  transition-property: color, background, border-color;
  transition-duration: 0.2s, 0.2s, 0.2s;

  cursor: pointer;
}
  .InverseButton_accent1 {
    color: var(--colorAccent1);
    border-color: var(--colorAccent1);

    &:hover {
      background: var(--colorAccent1);
      border-color: transparent;
      color: white;
    }

    &:active {
      background: color(var(--colorAccent1) lightness(+25%));
      color: var(--colorMain);
    }

    &:disabled {
      color: color(var(--colorAccent1) lightness(+25%));
      background: white;
      border-color: color(var(--colorAccent1) lightness(+25%));
    }
  }
  .InverseButton_accent2 {
    color: var(--colorAccent2);
    border-color: var(--colorAccent2);

    &:hover {
      background: var(--colorAccent2);
      border-color: transparent;
      color: white;
    }

    &:active {
      background: color(var(--colorAccent2) lightness(+25%));
      color: var(--colorAccent);
    }

    &:disabled {
      color: color(var(--colorAccent2) lightness(+25%));
      background: white;
      border-color: color(var(--colorAccent2) lightness(+25%));
    }
  }
  .InverseButton_error {
    color: var(--colorError);
    border-color: var(--colorError);

    &:hover {
      background: var(--colorError);
      border-color: transparent;
      color: white;
    }

    &:active {
      background: color(var(--colorError) lightness(+25%));
      color: var(--colorError);
    }

    &:disabled {
      color: color(var(--colorError) lightness(+25%));
      background: white;
      border-color: color(var(--colorError) lightness(+25%));
    }
  }

.Button {
  display: inline-block;

  font-weight: 600;

  text-decoration: none;

  border: 1px solid transparent;
  border-radius: 3px;
  border-radius: 0.188rem;

  transition-property: color, background, border-color;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;

  cursor: pointer;
}
  .Button_accent1 {
    color: white;
    background: var(--colorAccent1);

    &:hover {
      background: white;
      border-color: var(--colorAccent1);
      color: var(--colorAccent1);
    }

    &:active {
      background: color(var(--colorAccent1) lightness(+25%));
      border-color: transparent;
      color: var(--colorMain);
    }

    &:disabled {
      color: white;
      background: color(var(--colorAccent1) lightness(+25%));
      border-color: transparent;
    }
  }
  .Button_accent2 {
    color: white;
    background: var(--colorAccent2);

    &:hover {
      background: white;
      border-color: var(--colorAccent2);
      color: var(--colorAccent2);
    }

    &:active {
      background: color(var(--colorAccent2) lightness(+25%));
      border-color: transparent;
      color: var(--colorAccent);
    }

    &:disabled {
      color: white;
      background: color(var(--colorAccent2) lightness(+25%));
      border-color: transparent;
    }
  }
  .Button_error {
    color: white;
    background: var(--colorError);

    &:hover {
      background: white;
      border-color: var(--colorError);
      color: var(--colorError);
    }

    &:active {
      background: color(var(--colorError) lightness(+25%));
      border-color: transparent;
      color: var(--colorError);
    }

    &:disabled {
      color: white;
      background: color(var(--colorError) lightness(+25%));
      border-color: transparent;
    }
  }
