@import '../../../styles/colors.css';
@import '../../../styles/config.css';


.Button {
  display: inline-block;
  height: calc(var(--baseline) * 2.5);
  padding: 0 calc(var(--baseline));

  font-size: 0.750rem;
  font-weight: 600;
  line-height: calc(var(--baseline) * 2.5);

  text-decoration: none;

  border: none;
  border-radius: 0.125rem;

  transition-property: color, background;
  transition-duration: 0.2s, 0.2s;

  cursor: pointer;
}
  .Button_blue {
    color: white;
    background: var(--color-accent-blue);

    &:hover {
      background: color(var(--color-accent-blue) lightness(+10%));
    }

    &:active {
      background: color(var(--color-accent-blue) lightness(-10%));
    }

    &:disabled {
      background: color(var(--color-accent-blue) lightness(+25%));
    }
  }
  .Button_red {
    color: white;
    background: var(--color-accent-red);

    &:hover {
      background: color(var(--color-accent-red) lightness(+10%));
    }

    &:active {
      background: color(var(--color-accent-red) lightness(-10%));
    }

    &:disabled {
      background: color(var(--color-accent-red) lightness(+25%));
    }
  }
  .Button_green {
    color: white;
    background: var(--color-accent-green);

    &:hover {
      background: color(var(--color-accent-green) lightness(+10%));
    }

    &:active {
      background: color(var(--color-accent-green) lightness(-10%));
    }

    &:disabled {
      background: color(var(--color-accent-green) lightness(+25%));
    }
  }
