@import '../../styles/colors.css';
@import '../../styles/config.css';

.Item {
  /**/

  &__deletedInfo {
    font-size: var(--fontSizeSmall);
    
    color: var(--colorError);
  }
}
  .Item_deleted {
    & .Item__body {
      opacity: 0.3;
    }
  }
