@import '../../styles/colors.css';
@import '../../styles/config.css';


.SearchIndex {
  padding:  calc(var(--baseline) * 3) calc(var(--baseline) * 2);
  max-width: calc(var(--baseline) * 90);
  width: 100%;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--baseline) * 1) calc(var(--baseline) * 1);
    font-size: 0.875rem;
    border-top: 1px solid var(--color-bg-dirtyBlue);
  }
}

.Heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--baseline) / 2) calc(var(--baseline) * 1);
}

.Name {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-text-grey);
}
