@import '../../../styles/colors.css';
@import '../../../styles/config.css';


.LinkButton {
  display: block;
  padding: 0 calc(var(--baseline));
  height: calc(var(--baseline) * 1.5);

  font-size: 0.750rem;
  line-height: 1.5em;
  font-weight: 600;

  text-decoration: underline;

  border: none;
  border-radius: 0.125rem;
  background: none;

  transition-property: color, background;
  transition-duration: 0.2s, 0.2s;

  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
  .LinkButton_blue {
    color: var(--color-accent-blue);

    &:hover {
      color: color(var(--color-accent-blue) lightness(+10%));
    }

    &:active {
      color: color(var(--color-accent-blue) lightness(-10%));
    }

    &:disabled {
      color: color(var(--color-accent-blue) lightness(+25%));
    }
  }
  .LinkButton_red {
    color: var(--color-accent-red);

    &:hover {
      color: color(var(--color-accent-red) lightness(+10%));
    }

    &:active {
      color: color(var(--color-accent-red) lightness(-10%));
    }

    &:disabled {
      color: color(var(--color-accent-red) lightness(+25%));
    }
  }
  .LinkButton_green {
    color: var(--color-accent-green);

    &:hover {
      color: color(var(--color-accent-green) lightness(+10%));
    }

    &:active {
      color: color(var(--color-accent-green) lightness(-10%));
    }

    &:disabled {
      color: color(var(--color-accent-green) lightness(+25%));
    }
  }
