@import '../../styles/colors.css';
@import '../../styles/config.css';

.Directory {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__header {
    padding:  calc(var(--baseline) * 1)
              calc(var(--baseline) * 4);

    border-bottom: 1px solid var(--colorBorder);
  }

  &__body {
    padding:  calc(var(--baseline) * 0)
              calc(var(--baseline) * 4)
              calc(var(--baseline) * 0)
              calc(var(--baseline) * 4);
    flex: 1;

    overflow: scroll;
  }
}
