@import '../../styles/colors.css';
@import '../../styles/config.css';

.Header {
  position: fixed;
  top: 0;
  left: 0; right: 0;
  z-index: 2;
  padding: 0 calc(var(--baseline) * 2);
  overflow: hidden;

  font-size: var(--fontSize);

  color: white;

  background: var(--colorMain);

  &__title {
    font-weight: 600;
  }
}
