@import '../../../styles/colors.css';

.Badge {
  padding: 0 1rem;

  font-size: 0.688rem;
  font-weight: 700;
  line-height: 1.813rem;

  text-transform: uppercase;
  letter-spacing: 0.063rem;
}
  .Badge_accent1 {
    color: var(--colorAccent1);
  }
  .Badge_accent2 {
    color: var(--colorAccent2);
  }
