@import '../../../styles/colors.css';

.Badge {
  font-size: 0.688rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
  .Badge_default {
    color: var(--colorTextLight);
  }
  .Badge_accent1 {
    color: var(--colorAccent1);
  }
  .Badge_accent2 {
    color: var(--colorAccent2);
  }
  .Badge_error {
    color: var(--colorError);
  }
  .Badge_success {
    color: var(--colorSuccess);
  }
