@import '../../styles/colors.css';
@import '../../styles/config.css';

.Section {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: stretch;

  &__header {

    font-family: var(--fontFamily);
    font-size: var(--fontSizeSmall);
    font-weight: 600;

    color: var(--colorTextLight);
    text-transform: uppercase;
  }

  &__sidebar {
    width: calc(var(--baseline) * 20);
    padding: calc(var(--baseline) * 2.5)
             0
             calc(var(--baseline) * 2.5)
             calc(var(--baseline) * 4);

    border-right: 1px solid var(--colorBorder);
  }
}
