@import '../../../styles/colors.css';
@import '../../../styles/config.css';

.Editor {
  width: 100%;
  display: flex;
  align-items: flex-start;

  &__label {
    width: 8em;
    margin-right: calc(var(--baseline) * 1);

    font-size: 0.750rem;
    line-height: calc(var(--baseline) * 2.25);
    font-weight: 600;

    color: var(--color-text-grey);
    text-align: right;
  }

  &__body {
    flex: 1;
  }

  &__toolbar {
    padding: 0 calc(var(--baseline) / 2);
    border: 1px solid var(--color-bg-dirtyBlue);
    background: white;
  }

  &__command {
    display: block;
    width: calc(var(--baseline) * 2.25);
    height: calc(var(--baseline) * 2.25);

    font-size: 0;
    line-height: 0;

    border: none;
    background: none;
    background-position: center center;
    background-repeat: no-repeat;

    cursor: pointer;

    &:focus {
      outline: none;
      border: 1px dotted var(--color-bg-dirtyBlue);
    }

    &:hover {
      background-color: var(--color-bg-dirtyBlue);
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }

    &:global(.active) {
      background-color: var(--color-bg-dirtyBlue);
    }
  }
    &__command_h1 {
      background-image: url('./H1.svg');
    }
    &__command_h2 {
      background-image: url('./H2.svg');
    }
    &__command_h3 {
      background-image: url('./H3.svg');
    }
    &__command_bold {
      background-image: url('./bold.svg');
    }
    &__command_italic {
      background-image: url('./italic.svg');
    }
    &__command_ol {
      background-image: url('./ol.svg');
    }
    &__command_ul {
      background-image: url('./ul.svg');
    }
    &__command_link {
      background-image: url('./link.svg');
    }
    &__command_unlink {
      background-image: url('./unlink.svg');
    }

  &__separator {
    width: calc(var(--baseline) * 0.5);
    height: calc(var(--baseline) * 2);
    margin-right: calc(var(--baseline) * 0.5);

    border-right: 1px solid var(--color-bg-dirtyBlue);
  }

  &__editor {
    width: 100%;
    min-height: calc(var(--baseline) * 10);
    max-height: calc(var(--baseline) * 30);
    padding: calc(var(--baseline) * 1);
    overflow: scroll;

    color: var(--color-text-grey);

    font-size: 0.875rem;

    border: 1px solid var(--color-bg-dirtyBlue);
    border-top: none;

    &:focus {
      outline: none;
    }

    & :global(p),
    & :global(ul),
    & :global(ol) {
      margin-bottom: var(--baseline);
      text-align: justify;
    }

    & :global(b) {
      font-weight: 700;
    }

    & :global(i) {
      font-style: italic;
    }

    & :global(a) {
      color: var(--color-accent-blue);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    & :global(ul),
    & :global(ol) {
      margin-left: calc(var(--baseline) * 2);
    }

    & :global(li) {
      margin-bottom: calc(var(--baseline) / 2);
    }

    & :global(h1) {
      margin-bottom: var(--baseline);

      font-family: var(--fontFamily);
      font-size: calc(var(--baseline) * 3);
      font-weight: 700;
      line-height: calc(var(--baseline) * 4);

      color: var(--color-text-black);
    }

    & :global(h2) {
      margin-bottom: calc(var(--baseline) / 2);

      font-family: var(--fontFamily);
      font-weight: 700;
      font-size: calc(var(--baseline) * 1.5);
      line-height: calc(var(--baseline) * 2.5);

      color: var(--color-text-black);
    }
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0; right: 0;
    padding: 0 calc(var(--baseline) / 2);

    font-size: 0.750rem;

    color: var(--color-accent-red);
    text-align: right;
  }
}
  .Editor_error {
    & .Editor__body,
    & .Editor__toolbar {
      border-color: var(--color-accent-red);
    }
  }
