@import '../../styles/colors.css';
@import '../../styles/config.css';

.AppHeader {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0; right: 0;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 calc(var(--baseline) * 2);

  background: var(--color-bg-darkBlue);
  color: white;

  &__sitename {
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(var(--baseline) * 5);
  }
}
