@import '../../styles/colors.css';
@import '../../styles/config.css';


.Wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;

  background: white;

  transition-property: background;
  transition-duration: 0.2s;
}
  .Wrapper_dimmed {
    background: color(white blackness(+10%));
  }

.QuestionsList {
  padding:  calc(var(--baseline) * 3) calc(var(--baseline) * 2);
  max-width: calc(var(--baseline) * 90);
  width: 100%;
}

.Heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--baseline) / 2) calc(var(--baseline) * 1);

  &__name {
    flex: 1;
  }

  &__timestamp {
    width: 10em;
    text-align: right;
  }
}

.Name {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-text-grey);
}

.Timestamp {
  font-size: 0.8750rem;
  font-weight: 600;
  color: var(--color-text-grey);
}
