@import '../../styles/colors.css';
@import '../../styles/config.css';

.DirectoryItem {
  position: relative;
  padding: calc(var(--baseline) * 1.5) 0;

  border-top: 1px solid var(--colorBorder);

  &__title {
    font-size: var(--fontSize);

    color: var(--colorTextMed);
    text-decoration: none;
  }
    &__title_link {
      &:hover {
        text-decoration: underline;
      }
    }

  &__info {
    font-size: var(--fontSizeSmall);
    font-weight: 300;

    color: var(--colorTextLight);
  }
}
