@import '../../styles/colors.css';
@import '../../styles/config.css';

.Breadcrumbs {
  height: calc(var(--baseline) * 3);
  padding: 0 calc(var(--baseline) * 1);

  &__item {
    display: block;
    color: var(--color-text-grey);

    font-size: 0.750rem;

    opacity: 0.75;

    transition-property: opacity;
    transition-duration: 0.2s;

    &:after {
      content: '/';
      display: inline-block;
      margin: 0 calc(var(--baseline) / 4);
    }
  }
    &__item_link {
      text-decoration: underline;

      &:hover {
        text-decoration: none;

        opacity: 1;
      }
    }
}
