@import '../../styles/colors.css';
@import '../../styles/config.css';

.Nav {
  /* ... */

  &__item {
    display: block;
    padding: calc(var(--baseline) * 1.5 - 0.313) calc(var(--baseline));

    font-size: 0.875rem;
    line-height: calc(var(--baseline) * 2);
    font-weight: 600;

    color: color(white alpha(-30%));
    text-decoration: none;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    &:hover {
      color: white;
    }
  }
    &__item_active {
      color: white;
      border-bottom-color: var(--color-accent-green);

      &:hover {
        /* ... */
      }
    }
}
